{{#each this}}
<li class="movie-card">
    <img class="movie-poster" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}"
        data-movie-id="{{id}}">
    <h1 class="movie-title">{{this.title}}</h1>
    <p class="movie-info"> {{this.id.name}}</p>
    <div class="info-wrapper">
        <p class="movie-info">
            {{#each this.genres}}
            {{name}}&nbsp;&nbsp;
            {{/each}} | {{this.release_date}}
        </p>
        <p class="vote">{{this.vote_average}}</p>
    </div>
</li>
{{/each}}